<!DOCTYPE html>
<html>
<head>
    <title>Homepage</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="https://unpkg.com/vue"></script>
    <style>
        th {
            text-align:center;
        }
    </style>
    <script type="application/javascript" src="/javascripts/encrypt.js"></script>
    <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    <script type="text/javascript" src="http://code.jquery.com/jquery-1.4.3.min.js" ></script>
    <script type="application/javascript" src="/javascripts/editUserInfo.js"></script>
    <%- include alertMessage.ejs %>
</head>

<body>
<div name="adminTableForm" class="adminTable" id="adminTable">
    <table class="adminTable">
        <thead>
        <tr><th>아이디</th><th>이름</th><th>변경하기</th></tr>
        </thead>
        <tbody>
        <%for(var i = 0; i < memberArr.length; i++) {%>
        <tr>
            <div>
                <td>
                    <div id="uid<%=i%>"><%=memberArr[i].mem_id%></div>
                </td>
                <td>
                    <input type="text" id="name<%=i%>" name="name" value="<%=memberArr[i].mem_name%>">
                </td>
                <td>
                    <button value="수정하기" onclick="submitEditer(<%=i%>)">수정하기</button>
                </td>
            </div>
        </tr>
        <%}%>
        </tbody>
</div>
<div class="navigate">
    <a href="/">뒤로가기</a>
</div>
</body>
</html>
